nav ul {
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    background: rgb(145, 84, 0);
    margin-top: 4px;
    padding: 4px;
    margin-right: 2px;
    font-family: Verdana;
    font-size: 12px;
}

nav a {
    display: block;
    padding: 0 10px;
    color: rgb(250,250,250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: rgb(255, 173, 86);
    color: rgb(56, 44, 16);
    font-size: 15px;
    font-weight: bold;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 2px;
    margin-bottom: 1px;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    top:-1px;
    min-width: 120px;
    float: none;
    position: relative;
    display:inherit;
    margin-top:2px;
    margin-bottom:-1px;
}

nav ul li:hover > ul {
    display: block;
    top:40px;
}

.block_nav {
    margin-top:1%;
    margin-left:5%;
    height: 100%;
    width:60%;
}
